*{
    margin: 0;
    padding: 0;
}

h1{
background-color:#081b31;
color: #ffffffff;
padding: 2rem;
line-height: 5rem;
text-align: center;
font-size: 4rem;
}

.choice{
    height: 100px;
    width: 100px;
    display: flex;
    gap: 1rem;
    border-radius: 30%;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    background-color: #081b31;
    cursor: pointer;
    opacity: 0.8;
    border-radius: rem;
}

img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 2rem;
}


.score-board{
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
}

#msg{
    display: flex;
    margin-top: 7rem;
    line-height: 9rem;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    background-color: #081b31;
    color: #ffffffff;
    display: inline;
    padding: 1rem;
    border-radius: 2vmin;
}

.msg-container{
    margin-left: 40rem;
}
#user-score ,
#comp-score {
    font-size: 4rem;
}
