*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #CD8B76;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vh;
    align-items: center;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1 );
    font-size: 8vmin;
    color: #6b3ee8;
    background-color: antiquewhite;
}

#reset-btn{
    padding: 15px;
    font-size: 17px;
    background-color: aqua;
    color: black;
    border: none;
    border-radius: 10px;
}

#new-btn{
    padding: 8px;
    font-size: 13px;
    font-family: Cambria, ;
    background-color: darkcyan;
    color: white;
}
#msg
{
    color: #fff;
    font-size: 8vmin;
}

.msg-container{
    height:80vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    
}

.hide {
    display: none;
}